.hidden {
  display: none !important;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin: auto;
  margin: 0 20px;
  margin-bottom: 50px;
  text-align: center;
  font-family: arial;
}
.card img {
  width: 100%;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.productsArr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 65px;
}

table,
td {
  border: 1px solid #333;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}

.cart {
  display: flex;
  cursor: pointer;
}

.cart p {
  font-size: 1.5em;
}

.cartTitle{
  margin-right: 5px;
}

.cart i {
  margin-top: 15px;
  margin-right: 10px;
}
#cart img {
  max-width: 125px;
}

#cart th {
  border: solid wheat 1.5px;
  padding: 1em;
}

#cart td {
  border: solid wheat 0.2px;
  padding: 1em;
  font-size: 1.2em;
  color: wheat;
}

.cartProductAmount {
  max-width: 50px;
  height: 50px;
  padding-left: 15px;
  font-size: 1.2em;
}

input::-webkit-inner-spin-button {
  padding: 25px 5px;
}

.cartEmpty {
  margin: auto;
  text-align: center;
  padding: 1em;
}

.flex{
  display: flex;
}

.manageStore{
  display: flex;
  justify-content: space-around;
}

.goButton{
  font-size: 1.5em;
  padding: 0.2em;
}

#productId{
  font-size: 1.5em;
}

.submit{
  font-size: 1.2em;
  padding: 5px;
  background-color: rgb(0, 58, 8);
}

.delete{
  font-size: 1.2em;
  padding: 5px;
  background-color: rgb(58, 0, 0);
  margin-left: 25px;
}

.postNew{
  font-size: 1.2em;
  padding: 5px;
  background-color: rgb(0, 20, 58);
  margin-right: 25px;
}

.productTitle{
  position: absolute;
  transform: translateY(-65px);
}

.registration{
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
}

.cart-container{
  display: flex;
}

.order{
  padding: 10px 15px;
  font-size: 1.5em;
  align-self: center;
  margin-left: 25px;
}

.invoice {
  margin: auto;
  border: solid wheat 1px;
  border-radius: 5%;
  padding: 1em;
}

.invoice button{
  padding: .5em 1em;
}

.invoiceDetail{
  display: flex;
  padding-top: 3em;
}

.invoiceDetail div h3{
  margin: 0;
  margin-bottom: 1em;
}
.invoiceDetail div h2{
  margin: 0;
}

.invoicetext{
  margin: auto;
}
